html,
body {
    font-family: 'Roboto';
    background-color: #fff !important;
}

p {
    align-content: center;
    background-color: #495285;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 6em;
}

p>span {
    opacity: 0.4;
    text-align: center;
}